<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cs451rConnectionString"
      connectionString="Server=tcp:cs451r.database.windows.net,1433;Initial Catalog=Commerce_Bank_Database;Persist Security Info=False;User ID=goldteam;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    />
  </connectionStrings>
</configuration>